/*
 * ------------------------------------------------
 * Footer
 * ------------------------------------------------
 */

.s-Footer {
  background: $white;
  padding: $section-padding $page-gutter;
  font-family: $font--sans;
  text-align: center;
}

.s-Footer__attribution a {
  border-bottom: none;
  font-size: 75%;
}
