/*
 * ------------------------------------------------
 * Footer
 * ------------------------------------------------
 */

.s-Footer {
  padding: $section-padding $page-gutter;
  background: $white;
  font-family: $font--sans;
  text-align: center;
}

.s-Footer__attribution {
  font-family: $font--serif;
  font-size: 75%;

  a { border-bottom: 0; }
}
