<footer class="s-Footer b-Text">
  <p class=s-Footer__copyright>&#xA9; 2015 Lisa Miller Ph.D.</p>
  <div class="s-Footer__attribution"><a href="http://www.lacroixdesign.net" target="_blank">Web Design &amp; Development by LaCroix Design Co.</a></div>
</footer>
