<footer class="s-Footer b-Text">
  <p class=s-Footer__copyright>&#xA9; 2017 Lisa Miller Ph.D.</p>
  <div class="s-Footer__attribution">Web Design &amp; Development by <a href="http://www.lacroixdesign.net" target="_blank">LaCroix Design Co.</a></div>
</footer>
