<footer class="s-Footer b-Text">
  <p class=s-Footer__copyright> © 2015 Lisa Miller PH.D.</p>
  <div class="s-Footer__attribution"><a href="http://www.lacroixdesign.net" target="_blank">Web Design &amp; Development by LaCroix Design Co.</a></div>
</footer>
