<header id="header" class="s-Header">
  <div id="menu" class="s-HeaderConstrained">

    <div id="close" class="s-HeaderToggle">
      <ul class="s-Nav">
        <li data-behavior="open-menu">
          <a href="#menu" class="s-Nav__inline" role="button">M</a>
        </li>

        <li data-behavior="close-menu">
          <a href="#close" class="s-Nav__inline" role="button">X</a>
        </li>

      </ul>
    </div>

    <div id="nav" class="s-HeaderNav" role="navigation">
        <ul class="s-Nav">

        <li>
          <a href="#newsletter" data-play-video="player">newsletter</a>
        </li>

        <li>
          <a href="#author">Author</a>
        </li>

        <li>
          <a href="#video">Video</a>
        </li>

        <li>
          <a href="#media">Media</a>
        </li>

        <li>
          <a href="#products" class="s-Nav__btn">Preorder</a>
        </li>

      </ul>
    </div>

  </div>

</header>
