<header id="header" class="s-Header">
  <div class="s-HeaderLogo">
    <div class="s-HeaderLogo__text-logo">Lisa Miller, PH.D.</div>
  </div>
  <div id="menu" class="s-HeaderConstrained">

    <div id="close" class="s-HeaderToggle">
      <ul class="s-Nav">
        <li data-behavior="open-menu">
          <a href="#menu" class="s-Nav__inline" role="button">
            <%= svg_icon 'menu' %>
          </a>
        </li>

        <li data-behavior="close-menu">
          <a href="#close" class="s-Nav__inline" role="button">
            <%= svg_icon 'close' %>
          </a>
        </li>

      </ul>
    </div>

    <div id="nav" class="s-HeaderNav" role="navigation">
        <ul class="s-Nav">

        <li>
          <a href="#welcome">The Spiritual Child</a>
        </li>

        <li>
          <a href="#author">Author</a>
        </li>

        <li>
          <a href="#video">Video</a>
        </li>

        <li>
          <a href="#media">Media</a>
        </li>

        <li>
          <a href="mailto:TheSpiritualChild@gmail.com">Contact</a>
        </li>


        <li>
          <a href="http://www.amazon.com/The-Spiritual-Child-Parenting-Lifelong/dp/125003292X" class="s-Nav__btn" target="_blank">Preorder</a>
        </li>

      </ul>
    </div>

  </div>

</header>
