<section id="author" class="p-HomeAuthor wow bounceInLeft" data-wow-duration="1.5s" data-wow-delay="0.5s">
  <div class="p-HomeAuthor__wrapper Container b-Text">
    <h1>About The Author</h1>

    <div class="p-HomeAuthor__bio">
      <figure class="p-HomeAuthor__author">
        <%=image_tag "lisa-miller.jpg" %>
        <h2>Lisa Miller, Ph.D.</h2>
      </figure>
      <p>LISA MILLER, Ph.D., is Professor of Psychology and Education, Director of the <a href="http://www.tc.columbia.edu/ccp/clinical/" target="_blank">Clinical Psychology Program at Columbia University, Teachers College</a> and is Founder of the <a href="http://spiritualitymindbody.tc.columbia.edu" target="_blank">Spirituality Mind Body Institute</a>, the first Ivy League graduate program in spirituality and psychology.   </p>

      <p>Dr. Miller is a foremost scientist on spirituality across the lifespan, with her work published in top research journals including JAMA-Psychiatry, American Journal of Psychiatry, and the Journal of the American Academy of Child &amp; Adolescent Psychiatry.  Her innovative research has focused on quantifiable effects of spirituality in health, resilience and thriving, and an overall sacred and joyful life.  Her clinical and consultation work focuses on spiritual awareness and spiritual growth, for individuals, families, groups and organizations.</p>

      <p>Dr. Miller is the author of “The Spiritual Child; The New Science of Parenting for Health and Lifelong Thriving.”  Based upon her decade and a half of experience, she offers talks, workshops and consultations on spirituality in healthy development to parents and schools, adult wellness groups, and private and public organizations.  She is the Editor of <em><a href="http://www.amazon.com/Oxford-Handbook-Psychology-Spirituality-Library/dp/019935734X" target="_blank">The Oxford Handbook of Psychology and Spirituality</a></em> and Co-Editor of the APA journal, <em><a href="http://www.apa.org/pubs/journals/SCP/index.aspx" target="_blank">Spirituality in Clinical Practice</a></em>.  She has been elected as Fellow by the American Psychological Association, as well as for the Virginia Sexton Mentoring Award of graduate students.  A graduate of Yale, she received her doctorate from the University of Pennsylvania from Martin Seligman.</p>

      <p>She frequently is cited in print and in on-line media and has appeared on CNN, Fox News, MSNBC, and NBC Today Show as an expert.  She lives in Connecticut with her husband and three children.</p>
    </div>

  </div>
</section>
