<section class="p-HomeNewsletter Container b-Text wow bounceInRight"
          id="newsletter" data-wow-duration="1.5s" data-wow-delay="0s">

  <h1>Subscribe For Updates</h1>
  <p>Sign up for the newsletter to be notified when the book releases. Plus, we will keep you up to date on speaking engagments and workshops.</p>

  <div class="p-HomeNewsletter__form">
    <form action="<%= data.links.mailchimp %>" method="post" target="_blank"
          data-track-subscribe>

      <div class="input-field">
        <input type="email" value="" name="EMAIL"
                class="required email validate" id="mce-EMAIL">
        <label for="mce-EMAIL">Email Address</label>
      </div>

      <div style="position: absolute; left: -5000px;">
        <input type="text" name="b_bb95237aa98046ef81ea12e4a_8361f6e06e"
                tabindex="-1" value="">
      </div>

      <div class="clear">
        <input type="submit" value="Subscribe" name="subscribe"
                id="mc-embedded-subscribe" class="Btn">
      </div>

    </form>
  </div>

</section>
