<section id="praise" class="p-HomePraise">
  <div class="p-HomePraise__wrapper wow bounceInUp" data-wow-duration="1.5s" data-wow-delay="0.5s">
    <h2>Praise for The Spirtual Child</h2>
      <div class="p-HomePraise__items">
        <% data.praise.each do |praise| %>
        <blockquote class="b-Text">
          <%= praise.quote %>
          <cite>
            <%= praise.attribution %>
          </cite>
        </blockquote>
        <% end %>
      </div>
  </div>
</section>
