<section id="schedule" class="p-HomeSchedule wow bounceInRight" data-wow-duration="1.5s" data-wow-delay="0s">

  <div class="s-SectionWrapper Container">
    <div class="b-Text">
      <h1>Schedule</h1>
      <p>Dr. Lisa Miller offers speaking engagements, workshops and consultations to private and public sector organizations, schools, religious communities, youth programs, and family groups.</p>
    </div>
    <div class="p-HomeSchedule__cta">
      <a href="mailto:TheSpiritualChild@gmail.com"
          class="Btn wow bounceIn"
          data-wow-duration="1s"
          data-wow-delay="1.5s"
          target="_blank">
        Book Doctor Miller
      </a>
    </div>

  </div>
</section>
