<section class="p-HomeVideo">

  <div class="s-SectionWrapper">
    <fig class="p-HomeVideo__player">
      <div data-fluid-video>
        <iframe width="1280" height="720" src="https://www.youtube.com/embed/7c5t6FkvUG0" frameborder="0" allowfullscreen></iframe>
      </div>
      <figcaption>This talk was given at a local TEDx event, produced independently of the TED Conferences. Is depression, as most of us experience it, meaningless suffering? Dr. Lisa Miller presents research that lends meaning to the experience of depression and to our experience on planet Earth. </figcaption>
    </figure>
  </div>
</section>
