<section id="welcome" class="p-HomeWelcome">

  <div class="p-HomeWelcome__wrapper">
    <div class="p-HomeWelcome__book">
      <div class="p-HomeWelcome__book-image">
        <%=image_tag "tsc-cover.jpg" %>
      </div>
      <a href="#" class="Btn wow bounceIn" data-wow-duration="1s" data-wow-delay="0s" target="_blank">Preorder the Book</a>
    </div>

    <div class="p-HomeWelcome__synopsis b-Text">
      <h1>The Spirtual Child</h1>
      <h2>The New Science on Parenting for Health and Lifelong Thriving</h2>
      <p class="author">By Lisa Miller, PH.D.</p>
      <p> In The Spiritual Child, psychologist Lisa Miller presents the next big idea in psychology: the science and the power of spirituality. She explains the clear, scientific link between spirituality and health and shows that children who have a positive, active relationship to spirituality:</p>
      <ul>
        <li>are 40% less likely to use and abuse substances</li>
        <li>are 60% less likely to be depressed as teenagers</li>
        <li>are 80% less likely to have dangerous or unprotected sex</li>
      have significantly more positive markers for thriving including an increased sense of meaning and purpose, and high levels of academic success.</li>
      </ul>
      <p>Combining cutting-edge research with broad anecdotal evidence from her work as a clinical psychologist to illustrate just how invaluable spirituality is to a child's mental and physical health, Miller translates these findings into practical advice for parents, giving them concrete ways to develop and encourage their children's &mdash; as well as their own &mdash; well-being. In this provocative, conversation-starting book, Dr. Miller presents us with a pioneering new way to think about parenting our modern youth.</p>
    </div>
  </div>
</section>
