/*
 * Target all states except hover
 *---------------------------------------------------------*/

@mixin btn-all-except-hover {
  @content;

  &:focus,
  &:active,
  &:visited {
    @content;
  }
}

/*
 * Base disabled builder
 *---------------------------------------------------------*/

@mixin btn-disabled {
  &.disabled,
  &[disabled],
  &[disabled]:hover,
  &[disabled]:active {
    @content;
  }
}

/*
 * Base button builder
 *---------------------------------------------------------*/

@mixin btn-base {
  @include appearance(none);
  @include font-smoothing(on);
  position: relative;
  z-index: 1;
  vertical-align: middle;
  display: inline-block;
  padding: 1em 1.5em;
  margin: 0.25em 0;
  border: 0;
  border-radius: 0;
  font-family: $font--sans;
  font-size: 0.875em;
  font-weight: normal;
  font-style: normal;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  text-transform: uppercase;
  text-rendering: optimizelegibility;
  white-space: nowrap;
  cursor: pointer;
  @include user-select(none);

  @include btn-disabled {
    cursor: default;
    opacity: 0.5;
  }
}

/*
 * Plain button builder
 *---------------------------------------------------------*/

@mixin btn($bg, $hover-bg, $text: false) {
  $text: if($text, $text, $white);
  @include btn-base;

  @include btn-all-except-hover {
    background: $bg;
    color: $text;
  }

  &:hover {
    background: $hover-bg;
    color: $text;
  }

  @include btn-disabled {
    background: $bg;
    color: $text;
  }
}

/*
 * Buttons
 *---------------------------------------------------------*/

// Green
.Btn {
  @include btn($green, darken($green, 10));
}

// Black
//.Btn-primary {
//  @include btn($black, $black);
//}
