$base-border-radius: 3px !default;
$base-line-height: 1.5em !default;
$base-spacing: 1.5em !default;
$base-accent-color: $green !default;
$base-link-color: $base-accent-color !default;
$dark-gray: #333 !default;
$light-gray: #DDD !default;
$medium-screen: em(640) !default;
$base-font-color: $dark-gray !default;

h1, h2, h3, p {
  margin: 0;
}

hr {
  margin: $base-spacing 0;
  border-top: none;
  border-right: none;
  border-bottom: 1px solid $light-gray;
  border-left: none;
}

p {
  color: $base-font-color;
  line-height: $base-line-height;
}

a {
  color: $base-link-color;
  text-decoration: none;
}


.type {
  display: inline-block;
  margin-bottom: 2em;
  padding: 0.3em 0;
  border-bottom: 1px solid;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.7em;
  font-family: $font--sans;
}

h1 {
  margin-bottom: 0.5em;
  font-weight: 700;
  font-size: 2em;
  font-family: $font--display;
  text-transform: uppercase;

  @include media($medium-screen) {
    font-size: 2.6em;
  }
}

h2 {
  margin-bottom: 0.9em;
  font-weight: 400;
  font-style: italic;
  font-size: 1em;
  font-family: $font--serif;
  line-height: 1.6em;

  @include media($medium-screen) {
    font-size: 1.2em;
  }
}

code {
  padding: 0.1em 0.4em;
  border: 1px solid #E0E0E0;
  border-radius: $base-border-radius * 1.5;
  background: #F7F7F7;
  white-space: nowrap;
  font-style: normal;
  font-size: 0.75em;
  font-family: monaco;
}

h3 {
  margin-bottom: .4em;
  font-weight: 400;
  font-size: 1.4em;
  font-family: $font--display;
  line-height: 1.3em;
}

p.date {
  margin-bottom: 0.3em;
  color: transparentize($base-font-color, .6);
  font-style: italic;
  font-size: 0.9em;
  font-family: $font--serif;
}

p {
  margin-bottom: 1.5em;
  font-size: 0.9em;
  font-family: $font--serif;
  line-height: 1.6em;

  span {
    font-weight: 700;
    font-family: $font--sans;
  }
}

a.read-more {
  position: relative;
  display: inline-block;
  margin-left: 0.2em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  font-family: $font--sans;

  span {
    position: absolute;
    top: -1px;
    right: -12px;
    font-style: normal;
    font-size: 1.5em;
    font-family: $font--display;
  }
}

hr {
  width: 3em;
}

p.author {
  font-style: italic;
  font-family: $font--serif;
}
