$black:        #222;
$white:        #fff;
$green:        #67ad44;
$pale-green:  desaturate(lighten($green, 45), 5);
$light-green:  desaturate(lighten($green, 5), 5);
$dark-green:  desaturate(darken($green, 25), 5);
$light-grey:  #dddddd;
$grey:         desaturate($green, 50);
$dark-grey: #333 !default;


$color--text-default: $black !default;
$base-accent-color: $green !default;
$base-link-color: $base-accent-color !default;
$base-font-color: $dark-grey !default;

$button-color: $green;
$input-border-color: $grey;
$input-focus-color: $light-green;
$input-success-color: $green;
$input-error-color: red;
$radio-empty-color: $light-grey;
$radio-fill-color: $grey;
$input-disabled-color: $light-grey;
