// Page
$page-gutter: 1em;

$header-breakpoint: 35em;
$header-height-small: 2.875;
$header-height-large: 3.875;

$nav-breakpoint: $layout--xlarge;

$section-padding: 3em;
$section-padding-large: $section-padding * 1.5;
$section-breakpoint: $layout--large;
