// Typefaces

$font--display: 'Lusitana', Georgia, Cambria, "Times New Roman", Times, serif;
$font--serif: 'Merriweather', Georgia, Cambria, "Times New Roman", Times, serif;
$font--sans:  'Merriweather Sans', Tahoma, Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;
