// Typefaces

$font--display: 'Lusitana', Georgia, Cambria, "Times New Roman", Times, serif;
$font--serif: 'Merriweather', Georgia, Cambria, "Times New Roman", Times, serif;
$font--sans:  'Merriweather Sans', Tahoma, Verdana, "Helvetica Neue", Helvetica, Arial, sans-serif;

$label-font-size: 0.625em;
$base-border-radius: 2px !default;
$base-line-height: 1.5em !default;
$base-spacing: 1.5em !default;

$medium-screen: em(640) !default;
