.p-HomeAuthor {
  margin: -#{$section-padding * 4} auto $section-padding;

  h1 {
    margin-bottom: 1em;
    color: $dark-green;
    font-family: $font--sans;
    font-size: 1.5em;
    font-weight: normal;
    text-align: center;
  }
}

.p-HomeAuthor__wrapper {
  @include outer-container;
}

.p-HomeAuthor__author {
  max-width: 10em;
  margin: 0 auto 0.5em;
  font-size: 1rem;

  img {
    margin: 0;
  }

  h2 {
    margin-bottom: 0;
    text-align: center;
  }

  @include media($layout--medium) {
    float: left;
    margin: 0 2em 1em 0;
  }
}

.p-HomeAuthor__bio {
  float: left;

}
