.p-HomeNewsletter {
  @include outer-container;
  margin: -#{$section-padding * 2} auto $section-padding;
  text-align: center;

  @include media($section-breakpoint) {
    margin-top: -#{$section-padding-large * 2};
  }
}
