.p-HomeVideo {
  margin-bottom: $section-padding;
  
  .p-HomeVideo__player {
    margin: 1em auto;
  }

  h1 {
    margin-bottom: 1em;
    color: darken($light-green, 25);
    font-family: $font--sans;
    font-weight: normal;
    font-size: 1.5em;
    text-align: center;
  }

  h2 {
    text-align: center;
  }

}
