.p-HomeWelcome {
  @extend .s-Section;
  @include scrolling-clouds;
  padding-top: $section-padding;
  padding-bottom: $section-padding * 2;

  img {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1),
                0 1px 2px 0 rgba(0, 0, 0, 0.15);
  }

  @include media($section-breakpoint) {
    padding-top: $section-padding-large * 1.5;
    padding-bottom: $section-padding-large * 2.5;
  }
}

.p-HomeWelcome__wrapper {
  @include outer-container;
}

.p-HomeWelcome__book {
  margin: 0 auto 3em;

  .Btn {
    display: block;
    max-width: 15em;
    margin: 0 auto 1em;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1),
                0 1px 2px 0 rgba(0, 0, 0, 0.15);
  }

  h4 {
  text-align: center;
  text-transform: uppercase;
  }
}

.p-HomeWelcome__book-image {
  max-width: 10em;
  margin: 0 auto 1em;
}

.p-HomeWelcome__author {
  margin: 0.5em 0 2em;
  font-family: $font--serif;
  font-size: 0.875em;
  font-style: italic;
}

@include media($layout--xlarge) {

  .p-HomeWelcome__book-image {
    max-width: 12em;
  }

  .p-HomeWelcome__book {
    @include span-columns(2 of 6);
    margin-bottom: 0;

    .Btn { max-width: none; }
  }

  .p-HomeWelcome__synopsis {
    @include span-columns(4 of 6);
    @include omega;
  }
}
