// scss-lint:disable SelectorDepth

.b-Text {
  word-wrap: break-word;

  h1, h2, h3 {
    margin: 0;
  }

  h1 {
    font-weight: 700;
    font-size: 2em;
    font-family: $font--display;
    text-transform: uppercase;

    @include media($medium-screen) {
      font-size: 2.6em;
    }
  }

  h2 {
    color: $grey;
    font-weight: 400;
    font-style: italic;
    font-size: 1em;
    font-family: $font--serif;
    line-height: 1.5em;

    @include media($medium-screen) {
      font-size: 1.25em;
    }
  }

  h3 {
  margin-bottom: .4em;
  font-weight: 400;
  font-size: 1.4em;
  font-family: $font--display;
  line-height: 1.3em;
  }

  a,
  a:focus,
  a:visited {
    padding-bottom: 1px;
    border-bottom: 1px solid;
  }

  a:hover {
    color: darken($base-accent-color, 10)
  }

  p,
  ul,
  ol,
  li {
    font-size: 1em;
    line-height: $base-line-height;
  }

  hr {
    margin: $base-spacing 0;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid $light-grey;
    border-left: none;
  }

  a {
    color: $base-link-color;
    text-decoration: none;
  }

  li {
    margin-bottom: 0.5em;
  }

  p:last-child,
  li:last-child {
    margin-bottom: 0;
  }

  p.author {
    margin: 0.5em 0;
    font-style: italic;
    font-family: $font--serif;
    font-size: 87.5%;
  }

  ul {
    padding-left: 2.25em;
    margin: 1em auto;
    list-style: disc;
  }

  ul ul {
    list-style: circle;
  }

  ul ul ul {
    list-style: square;
  }

  blockquote {
    clear: both;
    padding: 1em;
    margin: 1.5em 1em;
    border-left: 3px solid #ccc;
    color: inherit;
  }

  img {
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 1em auto;
  }

  table {
    width: auto;
  }

  th,
  td {
    padding: 0.75em 0.5em;
    border-bottom: 0;
    vertical-align: top;

    &:first-child { padding-left: 0; }
    &:last-child { padding-right: 0; }
  }

  pre {
    padding: 1em;
    margin: 1.5em auto;
  }

  pre code {
    font-size: 0.75em;
  }

  p code {
    display: inline-block;
    padding: 0 0.25em;
  }
}
